{
    margin:0;
    padding:0;
}
.logo
{
    width: 120px;
    height:120px;
    /* align-items: center; */
    /* position: relative; */
    /* display:flex; */

    
}
.login
{
    position: absolute;
    top:13%;
    left:35%;
    border:solid rgb(172, 167, 167);
    translate: -80%,-50%;
    padding: 20px 15px 20px 15px ;
    border-radius:30px;
}
h1
{
    color:rgb(121, 116, 116);
    font-weight: 100;
    text-align:center;
}
#username,#password
{
    /* background: red; */
    width:300px;
    height:30px;
    border-radius:10px;
    margin-bottom:30px;
    text-decoration:none;
    /* background: red; */
    
}
input[type="password"]::placeholder {  
                  
    font:100px;
    text-align: center; 
} 
/* input[type="text"]::placeholder
{
    text-align: center;
    font:100px;
} */
::placeholder
{
    color:red;
}
:-ms-input-placeholder{
    color:red;
}
    .button {
        background-color: #4CAF50; /* Green */
        border: none;
        color: white;
        padding: 16px 32px;
        text-align: center;
        text-decoration: none;
        isplay: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: none;
        border-radius:10px;
        width:300px;
        
}
.button:hover
{
    background-color:red;
}